<div class="content">
<div class="container">
    <div class="heading">Iniciar Sessão</div>
    <form action="" class="form">
      <input required="" class="input" type="email" name="email" id="email" placeholder="E-mail">
      <input required="" class="input" type="password" name="password" id="password" placeholder="Senha">
      <!-- <span class="forgot-password"><a href="#">Forgot Password ?</a></span> -->
      <input class="login-button" type="submit" value="Autenticar">
      
    </form>
    <div class="social-account-container">
        <span class="title">Ou</span>
        <div class="social-accounts">
          <input class="login-google-button" type="submit" (click)="signInWithGoogle()" value="Entrar com o Google">
        </div>
      </div>
      <span class="agreement"><a href="#">Ler termos de uso</a></span>
  </div>
</div>