ion-menu ion-content {
  --background: var(--okr-bg-primary);
}

ion-menu {
  min-width: 160px;
  max-width: 200px;
}

ion-menu ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu ion-list {
  padding: 20px 0;
  background: none;
}

ion-menu ion-note {
  margin-bottom: 30px;
}

ion-menu ion-list-header,
ion-menu ion-note {
  padding-left: 10px;
  margin-bottom: 24px;
}

ion-menu ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-background-color-step-150, #d7d8da);
}

ion-menu ion-list#inbox-list ion-list-header {
  font-size: 12px;
  font-weight: 600;
  color: #8EA2B8;
  min-height: 20px;
}

ion-menu ion-list#labels-list ion-list-header {
  font-size: 12px;

  margin-bottom: 18px;

  color: #DDE5EA;
}

ion-menu ion-item {
  --padding-start: 10px;
  border-radius: 4px;
  --background: none;
}

ion-menu ion-item.selected {
  --background: #024462;
}

ion-menu ion-item.selected ion-icon {
  // color: var(--ion-color-primary);
}

ion-menu ion-item ion-icon {
  color: #DDE5EA;
}

ion-menu ion-item ion-label {
  font-weight: 600;
  color: #DDE5EA !important;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}