<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu (isOpen)="true" *ngIf="!router.url.includes('auth') && !router.url.includes('invited')" contentId="main-content" type="reveal">
      <ion-content>
        <ion-list id="inbox-list" *ngFor="let list of appPages">
          <ion-list-header>{{list.category}}</ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of list.pages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet style="margin-left: -8px;" id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
